{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}


{% block body %}
    <div class="container bg-white mt-5">
        <h1 class="text-center display-4 mb-0 fw-bold">
            Connectez-vous avec les Marques,
        </h1>
        <h1 class="text-center display-4 mt-0" style="color: #1a237e;">
           Développez votre Influence
        </h1>
    </div>

    <div class="container bg-white">
        <h2 class="text-center fs-4 mb-0 fw-normal">
            La première marketplace qui connecte les blogueurs 
    avec les marques pour des collaborations significatives. Monétisez votre influence et créez des partenariats authentiques.
        </h2>
    </div>

    <div class="container d-flex justify-content-center gap-3 mt-4">
        <a href="{{ path('/register/blogger') }}" class="nav-link btn btn-outline-primary me-2">
            <i class="bi bi-person-dash"></i> Rejoindre comme Blogueur
        </a>

        <a href="{{ path('/register/brand') }}" class="nav-link btn btn-outline-primary me-2">
            <i class="bi bi-person-dash"></i> Rejoindre comme Marque
        </a>
    </div>

{% endblock %}
